<a href="https://colab.research.google.com/github/JonatasGdeC/exercicios-python/blob/main/Ol%C3%A1%2C_este_%C3%A9_o_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercício 1**
Faça um algoritmo que leia dois números e escreva (devolva como resultado) o menor deles.

In [50]:
num1 = int(input("Digite um número: "))
num2 = int(input("Digite um segundo número: "))

if (num1 == num2):
  print("Os números são iguais")
else:
  if (num1>num2):
    print("O número maior é ",num1)
  else:
    print("O número maior é ",num2)

Digite um número: 10
Digite um segundo número: 10
Os números são iguais

**Exercicio 2**
Faça um algoritmo que receba o salário de um funcionário, calcule e mostre o novo salário, sabendo-se que este sofreu um aumento de 15,3%.

In [53]:
salarioAtual = int(input("Digite o atual salário do funcionário: R$ "))
salarioReajustado = salarioAtual + (salarioAtual*0.153)

print("O novo salário do funcionário com reajuste de 15,3% será R$", salarioReajustado)

Digite o atual salário do funcionário: R$ 2500
O novo salário do funcionário com reajuste de 15,3% será R$ 2882.5

**Exercicio 3**
Sabe-se que o valor de cada 1.000 litros de água corresponde a 2% do salário mínimo. Faça um algoritmo que receba o valor do salário mínimo e a quantidade de água consumida em uma residência por mês. Calcule e mostre:
1.   o valor da conta de água.
2.   o valor a ser pago com desconto de 15%.

In [60]:
salarioMinimo = int(input("Digite o valor do salário mínimo: R$ "))
consumoAgua = int(input("Digite a quantidade de litros consumidos no mês: "))

valorConta = (consumoAgua*(salarioMinimo*0.02))/1000
valorContaDesconto = valorConta - (valorConta*0.15)

print("O valor da conta será de R$ ",valorConta)
print("Já o valor da conta com desconto de 15% será de R$ ", valorContaDesconto)

Digite o valor do salário mínimo: R$ 1000
Digite a quantidade de litros consumidos no mês: 1000
O valor da conta será de R$  20.0
Já o valor da conta com desconto de 15% será de R$  17.0

**Exercício 4**
Faça um algoritmo que receba dois valores nas variáveis A e B respectivamente, troque o valor contido na variável A pelo valor em B, e o valor em B pelo valor em A, isto é, ao final do algoritmo, A e B terão os valores trocados.

In [62]:
valorA = int(input("Digite um valor para A: "))
valorB = int(input("Digite um valor para B: "))

valorX = valorA
valorY = valorB

valorA = valorY
valorB = valorX

print("O valor de A é: ", valorA)
print("O valor de B é: ", valorB)

Digite um valor para A: 10
Digite um valor para B: 1
O valor de A é:  1
O valor de B é:  10

**Exercício 5**
Num triângulo retângulo, segundo Pitágoras, o quadrado da hipotenusa (a) é igual à soma dos quadrados dos catetos (b e c), isto é, a² = b² + c². Faça um algoritmo, receba os valores dos catetos e imprima o valor da hipotenusa.

In [65]:
catetoB = int(input("Digite o valor do cateto 1: "))
catetoC = int(input("Digite o valor do cateto 2: "))

hipotenusa = ((catetoB*catetoB)+(catetoC*catetoC))**(1/2)

print("O valor da hipotenusa é: ", hipotenusa)

Digite o valor do cateto 1: 3
Digite o valor do cateto 2: 4
O valor da hipotenusa é:  5.0